@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','メイリオ','Meiryo','MS Pゴシック','MS PGothic',sans-serif;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  color: inherit;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.container {
  width: 1120px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}

.sec-title {
  font-size: 4.2rem;
  font-weight: bold;
  color: #333;
  position: relative;
}

.sec-title:after {
  content: "";
  width: 250px;
  height: 6px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#5EBC48), to(#BCDD33)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(left, #5EBC48 0%, #BCDD33 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #5EBC48 0%, #BCDD33 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 125px);
}

.sp-br {
  display: none;
}

header .l-header {
  width: 100%;
  min-width: 1120px;
  height: 44vw;
  min-height: 492px;
  background-image: url(../img/mainview1.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  position: relative;
}

header .l-header .header-fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
}

header .l-header .header-fixed .header-top {
  height: 70px;
  padding: 15px 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .l-header .header-fixed .header-top:hover {
  background: rgba(51, 51, 51, 0.85);
}

header .l-header .header-fixed .header-top .logo {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
}

header .l-header .header-fixed .header-top .menu {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

header .l-header .header-fixed .header-top .menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
}

header .l-header .header-fixed .header-top .menu ul li {
  margin-left: 30px;
  padding-bottom: 5px;
  color: #fff;
  border-bottom: solid 1px transparent;
}

header .l-header .header-fixed .header-top .menu ul li:hover {
  color: #FFEA4A;
  border-bottom: solid 1px #fff;
}

header .l-header .header-fixed .header-top .menu .header-btn {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  color: #333;
  padding: 12px 47px 12px 48px;
  background: #ffea4a;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: relative;
  border-radius: 20px;
  margin-left: 55px;
}

header .l-header .header-fixed .header-top .menu .header-btn:after {
  content: "\03e";
  color: #333;
  position: absolute;
  top: 12px;
  right: 18px;
}

header .l-header .header-fixed .header-top .menu .header-btn:hover, header .l-header .header-fixed .header-top .menu .header-btn:hover::after {
  color: #5CA642;
  background: #fff;
}

header .l-header .header-fixed .header-top .sp-menu {
  display: none;
}

header .l-header .header-bottom {
  width: 51%;
  position: absolute;
  left: 7%;
  bottom: 0;
}

main {
  width: 100%;
  min-width: 1120px;
  overflow: hidden;
}

main .main-top {
  padding: 120px 0 140px;
}

main .main-top h2 {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif';
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 1.7;
}

main .main-top .main-top-intro {
  width: 540px;
  margin: 120px auto 0;
}

main .main-top .main-top-intro p {
  font-size: 1.6rem;
  line-height: 2.2;
}

main .main-top .main-top-intro p:nth-child(n+2) {
  padding-top: 50px;
}

main .main-top .main-top-intro p .font-green {
  color: #5CA642;
}

main .apply {
  color: #FFF;
  padding: 22px 0 26px;
  background: transparent -webkit-gradient(linear, left top, right top, from(#5EBC48), to(#BCDD33)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(left, #5EBC48 0%, #BCDD33 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #5EBC48 0%, #BCDD33 100%) 0% 0% no-repeat padding-box;
  position: relative;
}

main .apply .apply-top {
  width: 195px;
  position: absolute;
  top: -60px;
  left: calc(50% - 97.5px);
}

main .apply p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.8rem;
  background-color: #FFF;
  color: #333;
  width: 540px;
  margin: 0 auto;
  padding: 9px 0;
  text-align: center;
  border-radius: 20px;
}

main .apply h2 {
  font-size: 4.2rem;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 22px;
}

main .apply ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .apply ul li {
  border: 2px solid #FFF;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 5px;
  margin: 0 20px 47px;
}

main .apply ul li:nth-child(1) {
  padding: 11px 20px;
}

main .apply ul li:nth-child(2) {
  padding: 11px 44px;
}

main .apply ul li:nth-child(3) {
  padding: 11px 32px;
}

main .apply .apply-btn {
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #FFEA4A;
  border-radius: 30px;
  padding: 20px 64px 20px 138px;
  display: inline-block;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: relative;
}

main .apply .apply-btn p {
  background-color: #FFEA4A;
}

main .apply .apply-btn:after {
  content: "\03e";
  color: #333;
  position: absolute;
  top: 18px;
  right: 18px;
}

main .apply .apply-btn:hover, main .apply .apply-btn:hover::after {
  color: #5CA642;
  background: #fff;
}

main .apply .apply-btn .apply-btn__img1 {
  width: 50px;
  position: absolute;
  top: -13px;
  left: 30px;
}

main .apply .apply-btn .apply-btn__img2 {
  width: 45px;
  position: absolute;
  top: 15px;
  left: 83px;
}

main .main-feature {
  padding: 120px 0;
  background-color: #EDFAE8;
  position: relative;
  overflow: hidden;
}

main .main-feature .feature-back {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

main .main-feature .main-feature-middle {
  position: relative;
}

main .main-feature .main-feature-middle .feature__sec-titte {
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif';
  font-weight: 600;
  margin-bottom: 80px;
}

main .main-feature .main-feature-middle .feature__sec-titte .feature__sec-title__42green {
  font-size: 4.2rem;
  color: #5CA642;
  line-height: 2.25;
}

main .main-feature .main-feature-middle .feature__sec-titte .feature__sec-title__32black {
  font-size: 3.2rem;
  color: #333;
}

main .main-feature .main-feature-middle .feature__sec-titte .feature__sec-title__80green {
  font-size: 8rem;
  color: #5CA642;
}

main .main-feature .main-feature-middle .feature__sec-titte .feature__sec-title__42black {
  font-size: 4.2rem;
  color: #333;
}

main .main-feature .main-feature-middle .feature-wrapper {
  width: 780px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box {
  width: 350px;
  height: 400px;
  background: #FFF;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  position: relative;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box:nth-child(n+3) {
  margin-top: 50px;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box h3 {
  color: #5CA642;
  font-size: 4.2rem;
  font-weight: 600;
  padding: 20px 0 15px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif';
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box h4 {
  font-size: 2.4rem;
  font-weight: 600;
  background-color: #5CA642;
  color: #FFF;
  padding: 13px 0;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box p {
  font-size: 1.6rem;
  line-height: 1.75;
  padding: 30px 58px 0;
  text-align: left;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box .feature__img {
  position: absolute;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box .feature1 {
  width: 134px;
  right: 30px;
  bottom: 12px;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box .feature2 {
  width: 208px;
  right: 0;
  bottom: 0;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box .feature3 {
  width: 120px;
  right: 25px;
  bottom: 13px;
}

main .main-feature .main-feature-middle .feature-wrapper .feature-box .feature4 {
  width: 100px;
  right: 30px;
  bottom: 15px;
}

main .price {
  padding: 120px 0 43px;
}

main .price .price__container {
  width: 715px;
  margin: 0 auto;
  padding: 0;
}

main .price .price__container .price-wrapper {
  margin-top: 126px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .price .price__container .price-wrapper .wrapper-left,
main .price .price__container .price-wrapper .wrapper-right {
  background: #5CA642;
  width: 320px;
  border-radius: 10px;
  padding: 40px 20px 22px;
}

main .price .price__container .price-wrapper .wrapper-left h4,
main .price .price__container .price-wrapper .wrapper-right h4 {
  font-weight: 600;
  margin-bottom: 160px;
}

main .price .price__container .price-wrapper .wrapper-left h4 .price__32white,
main .price .price__container .price-wrapper .wrapper-right h4 .price__32white {
  color: #fff;
  font-size: 3.2rem;
}

main .price .price__container .price-wrapper .wrapper-left h4 .price__40yellow,
main .price .price__container .price-wrapper .wrapper-right h4 .price__40yellow {
  color: #FFEA4A;
  font-size: 4rem;
}

main .price .price__container .price-wrapper .wrapper-left h4 .price__25white,
main .price .price__container .price-wrapper .wrapper-right h4 .price__25white {
  color: #fff;
  font-size: 2.5rem;
}

main .price .price__container .price-wrapper .wrapper-left .price-display,
main .price .price__container .price-wrapper .wrapper-right .price-display {
  background: #FFF;
  padding: 40px 18px 43px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

main .price .price__container .price-wrapper .wrapper-left .price-display .price__42green,
main .price .price__container .price-wrapper .wrapper-right .price-display .price__42green {
  font-size: 4.2rem;
  font-weight: 600;
  color: #5CA642;
  margin-right: 8px;
}

main .price .price__container .price-wrapper .wrapper-left .price-display .price__bold,
main .price .price__container .price-wrapper .wrapper-right .price-display .price__bold {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

main .price .price__container .price-wrapper .wrapper-left .price-display .price__thin,
main .price .price__container .price-wrapper .wrapper-right .price-display .price__thin {
  font-size: 1.8rem;
  color: #333;
}

main .price .price__container .price-wrapper .wrapper-left .price-display .price__img,
main .price .price__container .price-wrapper .wrapper-right .price-display .price__img {
  position: absolute;
}

main .price .price__container .price-wrapper .wrapper-left .price-display .price__img1,
main .price .price__container .price-wrapper .wrapper-right .price-display .price__img1 {
  width: 104px;
  left: 88px;
  bottom: 112px;
}

main .price .price__container .price-wrapper .wrapper-left .price-display .price__img2,
main .price .price__container .price-wrapper .wrapper-right .price-display .price__img2 {
  width: 204px;
  left: 38px;
  bottom: 112px;
}

main .price .price__container .price__smart {
  font-size: 1.6rem;
  color: #333;
  padding: 32px 0 63px 10px;
  text-align: left;
}

main .price .price__container .credit-card {
  border: solid 4px #5CA642;
  padding: 32px 168px 20px;
}

main .price .price__container .credit-card h4 {
  font-size: 3.2rem;
  font-weight: 600;
  color: #5CA642;
}

main .price .price__container .credit-card p {
  font-size: 1.6rem;
  color: #333;
  padding: 30px 0 20px;
}

main .price .price__container .credit-card .card-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main .price .price__container .credit-card .card-type .type1 {
  width: 85px;
}

main .price .price__container .credit-card .card-type .type2 {
  width: 114px;
}

main .price .price__container .credit-card .card-type .type3 {
  width: 60px;
}

main .about {
  padding: 120px 0 138px;
  background-color: #F5F5F5;
  color: #333;
}

main .about .about-intro {
  width: 540px;
  font-size: 1.6rem;
  line-height: 1.75;
  margin: 116px auto 0;
  text-align: left;
}

main .about .civil-codes {
  width: 650px;
  margin: 0 auto;
}

main .about .civil-codes .civil-code {
  margin-top: 80px;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','MS P 明朝','MS PMincho','serif';
}

main .about .civil-codes .civil-code .civil-code__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 600;
}

main .about .civil-codes .civil-code .civil-code__item .civil__30green {
  font-size: 3rem;
  color: #5CA642;
  margin-right: 30px;
}

main .about .civil-codes .civil-code .civil-code__item .civil__20black {
  font-size: 2rem;
}

main .about .civil-codes .civil-code .civil-code__item .civil__36black {
  font-size: 3.6rem;
}

main .about .civil-codes .civil-code .civi-code__content {
  margin-top: 15px;
  border: solid 1px #707070;
  background: #fff;
  padding: 40px 45px;
  font-size: 1.6rem;
  line-height: 1.7;
  text-align: left;
}

main .about .civil-codes .smaller {
  margin: 50px 0 70px;
  font-size: 1.4rem;
  line-height: 1.7;
  text-align: left;
}

main .about .conditions {
  background-color: #5CA642;
  padding: 30px 30px 20px;
  border-radius: 10px;
  width: 650px;
  margin: 0 auto;
}

main .about .conditions h4 {
  font-size: 3.2rem;
  color: #FFF;
  margin-bottom: 15px;
}

main .about .conditions p {
  background-color: #FFF;
  width: 590px;
  padding: 30px 35px;
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: left;
}

main .about .conditions p span {
  color: #5CA642;
}

main .about .about__arrow {
  width: 70px;
  margin: 20px auto 30px;
}

main .about .under-condition {
  width: 540px;
  margin: 0 auto;
}

main .about .under-condition p {
  font-size: 1.6rem;
  line-height: 2.19;
  text-align: center;
}

main .about .under-condition p span {
  color: #5CA642;
  font-weight: 600;
}

main .about .under-condition p:nth-child(1) {
  padding-bottom: 40px;
}

main .method {
  padding: 120px 0;
}

main .method .method-inner {
  margin-top: 163px;
}

main .method .method-inner .method-first {
  border-radius: 5px;
  width: 750px;
  background-color: #FFF9C9;
  padding: 87px 65px 40px;
  margin: 0 auto;
  position: relative;
}

main .method .method-inner .method-first .method-top {
  border-radius: 50%;
  background: #5CA642;
  font-weight: 600;
  padding: 18px 22px 19px;
  width: 94px;
  height: 94px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -47px;
  left: 328px;
}

main .method .method-inner .method-first .method-top p {
  color: #fff;
  font-size: 1.3rem;
  padding-bottom: 9px;
}

main .method .method-inner .method-first .method-top h3 {
  color: #FFEA4A;
  font-size: 3.5rem;
}

main .method .method-inner .method-first .method-title {
  color: #5CA642;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 40px;
}

main .method .method-inner .method-first .method-content {
  font-size: 1.6rem;
  text-align: left;
  color: #333;
}

main .method .method-inner .method-first .method-content .method-text {
  line-height: 1.75;
}

main .method .method-inner .method-first .method-content .method-text a {
  color: #3594AA;
  border-bottom: solid 1px #3594AA;
}

main .method .method-inner .method-first .method-content .method-text span {
  font-size: 0.8rem;
  vertical-align: top;
}

main .method .method-inner .method-first .method-content .smaller {
  font-size: 1.4rem;
  line-height: 1.57;
  margin-top: 30px;
}

main .method .method-inner .method-first .method-content .method-address {
  margin-top: 30px;
}

main .method .method-inner .method-arrow {
  width: 70px;
  margin: 30px auto 77px;
}

main .contact {
  padding: 120px 0;
  background-color: #EDFAE8;
  color: #333;
}

main .contact .contact-top {
  font-size: 1.6rem;
  padding: 117px 0 32px;
}

main .contact .contact-caution {
  width: 700px;
  background-color: #FFF;
  padding: 40px 50px;
  margin: 0 auto 83px;
}

main .contact .contact-caution .caution-top {
  font-size: 1.6rem;
  font-weight: 600;
}

main .contact .contact-caution .caution-text {
  font-size: 1.4rem;
  padding: 25px 0 40px;
  text-align: left;
  line-height: 1.7;
}

main .contact .contact-caution .caution-item {
  font-size: 1.4rem;
  text-align: left;
  width: 540px;
  margin: 0 auto;
}

main .contact .contact-caution .caution-item p span {
  color: #707070;
}

main .contact .contact-caution .caution-item p:nth-child(n+2) {
  padding-top: 20px;
}

main .contact .contact-form {
  width: 540px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.6rem;
}

main .contact .contact-form .form-item .form-title {
  padding-left: 56px;
  font-weight: 600;
  position: relative;
}

main .contact .contact-form .form-item .form-title:before {
  content: "必須";
  font-size: 1.3rem;
  color: #fff;
  background: #E84D13;
  width: 40px;
  height: 22px;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -3.5px;
  left: 0;
}

main .contact .contact-form .form-item .form-title-any {
  padding-left: 56px;
  font-weight: 600;
  position: relative;
}

main .contact .contact-form .form-item .form-title-any:before {
  content: "任意";
  font-size: 1.3rem;
  color: #fff;
  background: #707070;
  width: 40px;
  height: 22px;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -3.5px;
  left: 0;
}

main .contact .contact-form .form-item input[type="text"], main .contact .contact-form .form-item input[type="email"] {
  height: 50px;
  border: none;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

main .contact .contact-form .form-item input[type="text"]:last-child, main .contact .contact-form .form-item input[type="email"]:last-child {
  margin-bottom: 53px;
}

main .contact .contact-form .form-item .form-content {
  padding-bottom: 5px;
}

main .contact .contact-form .form-item .form-content:nth-child(n+4) {
  padding-top: 25px;
}

main .contact .contact-form .form-item .radio-items .radio-item {
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact .contact-form .form-item .radio-items .radio-item:nth-child(2) {
  padding: 40px 0 53px;
}

main .contact .contact-form .form-item .checkbox-items .checkbox-item {
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact .contact-form .form-item .checkbox-items .checkbox-item:nth-child(n+2) {
  padding-top: 40px;
}

main .contact .contact-form .form-item .form-text {
  padding: 42px 0 30px;
}

main .contact .contact-form .form-item textarea {
  width: 100%;
  height: 300px;
  margin: 13px auto 62px;
  border: none;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
}

main .contact .contact-form .form-item .up-image input {
  width: 100%;
  height: 30px;
}

main .contact .contact-form .form-item .up-image input:nth-child(2) {
  margin-top: 15px;
}

main .contact .contact-form .name input[type="text"] {
  margin-top: 13px;
  width: 400px;
}

main .contact .contact-form .address .smaller {
  font-size: 1.2rem;
  padding: 18px 0 40px;
}

main .contact .contact-form .address .short {
  width: 200px;
}

main .contact .contact-form .address .long {
  width: 100%;
}

main .contact .contact-form .email input[type="email"] {
  margin-top: 13px;
  width: 100%;
}

main .contact .contact-form .radio .form-title {
  padding-bottom: 35px;
}

main .contact .contact-form .radio input {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

main .contact .contact-form .checkbox .form-title {
  padding-bottom: 35px;
}

main .contact .contact-form .checkbox input {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
}

main .contact .contact-form .checkbox .smaller {
  font-size: 1.2rem;
  line-height: 1.83;
  padding: 33px 0 53px;
}

main .contact .contact-form .checkbox .smaller span {
  color: #E84D13;
}

main .contact .contact-form .privacy {
  text-align: center;
  padding-bottom: 64px;
}

main .contact .contact-form .privacy a {
  color: #3594AA;
}

main .contact .contact-form .form-send {
  text-align: center;
}

main .contact .contact-form .form-send input[type="submit"] {
  width: 200px;
  height: 40px;
  font-weight: 600;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5CA642;
  background: #fff;
  border: solid 2px #5CA642;
  border-radius: 5px;
  cursor: pointer;
}

main .contact .contact-form .form-send input[type="submit"]:hover {
  color: #fff;
  background: #5CA642;
}

footer .l-footer {
  width: 100%;
  min-width: 1120px;
  background-color: #5CA642;
  color: #FFF;
  font-weight: 600;
}

footer .l-footer .footer-upper {
  font-size: 1.3rem;
  padding: 30px 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .l-footer .footer-upper .footer-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .l-footer .footer-upper .footer-menu ul li {
  width: 170px;
  text-align: center;
  padding: 5px 0;
  border: solid 1px #fff;
  margin-right: 50px;
}

footer .l-footer .footer-upper .footer-menu ul li:hover {
  opacity: 0.7;
}

footer .l-footer .footer-upper .footer-contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

footer .l-footer .footer-upper .footer-contact p {
  margin-right: 53px;
}

footer .l-footer .footer-upper .footer-contact ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
}

footer .l-footer .footer-upper .footer-contact ul .footer-mail {
  margin-right: 66px;
  position: relative;
}

footer .l-footer .footer-upper .footer-contact ul .footer-mail:before {
  content: "";
  background-image: url(../img/footer-mail.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4.5px;
  left: -25px;
}

footer .l-footer .footer-upper .footer-contact ul .footer-tel {
  position: relative;
}

footer .l-footer .footer-upper .footer-contact ul .footer-tel:before {
  content: "";
  background-image: url(../img/footer-tel.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4.5px;
  left: -23px;
}

footer .l-footer .copyright {
  text-align: center;
  padding-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
  .sec-title {
    font-size: 3.2rem;
  }
  .sp-br {
    display: block;
  }
  header .l-header {
    width: 100%;
    min-width: 0;
    height: 300px;
    min-height: 0;
    background-position: center top;
  }
  header .l-header .header-fixed .header-top {
    height: 60px;
    padding: 5px;
    position: relative;
  }
  header .l-header .header-fixed .header-top:hover {
    background: none;
  }
  header .l-header .header-fixed .header-top .logo {
    width: 250px;
    height: 50px;
  }
  header .l-header .header-fixed .header-top .menu {
    display: none;
  }
  header .l-header .header-fixed .header-top .sp-menu {
    display: block;
  }
  header .l-header .header-fixed .header-top .sp-menu .sp-nav {
    z-index: 11;
    width: 100%;
    height: 100vh;
    background: transparent -webkit-gradient(linear, left top, right top, from(#5EBC48), to(#BCDD33)) 0% 0% no-repeat padding-box;
    background: transparent -webkit-linear-gradient(left, #5EBC48 0%, #BCDD33 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #5EBC48 0%, #BCDD33 100%) 0% 0% no-repeat padding-box;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    position: absolute;
    top: -100vh;
    left: 0;
  }
  header .l-header .header-fixed .header-top .sp-menu .sp-nav ul {
    z-index: 12;
    width: 75%;
    margin: 150px auto;
  }
  header .l-header .header-fixed .header-top .sp-menu .sp-nav ul li {
    text-align: left;
    width: 100%;
    border-bottom: dotted 2px #fff;
    padding-bottom: 8px;
    margin-bottom: 40px;
  }
  header .l-header .header-fixed .header-top .sp-menu .sp-nav ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .l-header .header-fixed .header-top .sp-menu .sp-nav ul li a p {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  header .l-header .header-fixed .header-top .sp-menu .sp-nav.panelactive {
    position: absolute;
    top: 0;
    left: 0;
  }
  header .l-header .header-fixed .header-top .sp-menu .openbtn {
    position: fixed;
    z-index: 12;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #5CA642;
  }
  header .l-header .header-fixed .header-top .sp-menu .openbtn span {
    -webkit-transition: all .4s;
    transition: all .4s;
    position: absolute;
    left: 10px;
    width: 60%;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
  }
  header .l-header .header-fixed .header-top .sp-menu .openbtn span:nth-of-type(1) {
    top: 11px;
  }
  header .l-header .header-fixed .header-top .sp-menu .openbtn span:nth-of-type(2) {
    top: 24px;
  }
  header .l-header .header-fixed .header-top .sp-menu .openbtn span:nth-of-type(3) {
    top: 37px;
  }
  header .l-header .header-fixed .header-top .sp-menu .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 11px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 60%;
  }
  header .l-header .header-fixed .header-top .sp-menu .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  header .l-header .header-fixed .header-top .sp-menu .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 11px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 60%;
  }
  header .l-header .header-bottom {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -35vw;
  }
  main {
    width: 100%;
    min-width: 0;
  }
  main .main-top {
    padding: calc(80px + 35vw) 0 120px;
  }
  main .main-top h2 {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.7;
  }
  main .main-top .main-top-intro {
    width: 100%;
    margin: 80px auto 0;
  }
  main .main-top .main-top-intro p:nth-child(n+2) {
    padding-top: 30px;
  }
  main .apply p {
    width: 300px;
    line-height: 1.7;
  }
  main .apply h2 {
    font-size: 2.6rem;
  }
  main .apply ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .apply ul li {
    width: 280px;
    margin: 0 auto 30px;
    text-align: center;
  }
  main .apply ul li:nth-child(1) {
    padding: 11px 0;
  }
  main .apply ul li:nth-child(2) {
    padding: 11px 0;
  }
  main .apply ul li:nth-child(3) {
    padding: 11px 0;
  }
  main .apply .apply-btn {
    width: 300px;
    text-align: center;
    padding: 20px 0 20px 30px;
  }
  main .apply .apply-btn:after {
    top: 18px;
    right: 18px;
  }
  main .apply .apply-btn .apply-btn__img1 {
    top: -13px;
    left: -20px;
  }
  main .apply .apply-btn .apply-btn__img2 {
    top: 15px;
    left: 30px;
  }
  main .main-feature, main #feature {
    padding: 80px 0;
  }
  main .feature-back {
    display: none;
  }
  main .main-feature-middle .feature__sec-titte {
    margin-bottom: 50px;
  }
  main .main-feature-middle .feature__sec-titte .feature__sec-title__42green {
    font-size: 3.8rem;
  }
  main .main-feature-middle .feature__sec-titte .feature__sec-title__32black {
    font-size: 2.8rem;
  }
  main .main-feature-middle .feature__sec-titte .feature__sec-title__80green {
    font-size: 6rem;
  }
  main .main-feature-middle .feature__sec-titte .feature__sec-title__42black {
    font-size: 3.8rem;
  }
  main .main-feature-middle .feature-wrapper {
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-feature-middle .feature-wrapper .feature-box {
    margin: 0 auto;
    width: 300px !important;
    height: auto !important;
  }
  main .main-feature-middle .feature-wrapper .feature-box:nth-child(n+2) {
    margin-top: 50px;
  }
  main .main-feature-middle .feature-wrapper .feature-box p {
    padding: 30px 40px 60px !important;
  }
  main .main-feature-middle .feature-wrapper .feature-box .feature__img {
    position: absolute;
  }
  .price, #price {
    padding: 110px 0 50px;
  }
  .price .price__container, #price .price__container {
    width: 100%;
    padding: 0 30px;
  }
  .price .price__container .price-wrapper, #price .price__container .price-wrapper {
    margin-top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price .price__container .price-wrapper .wrapper-left, #price .price__container .price-wrapper .wrapper-left {
    margin: 0 auto;
  }
  .price .price__container .price-wrapper .wrapper-right, #price .price__container .price-wrapper .wrapper-right {
    margin: 50px auto 0;
  }
  .price .price__container .price__smart, #price .price__container .price__smart {
    width: 310px;
    margin: 0 auto;
    padding: 32px 0 63px;
    text-align: left;
  }
  .price .price__container .credit-card, #price .price__container .credit-card {
    padding: 32px 5px 20px;
  }
  .price .price__container .credit-card p, #price .price__container .credit-card p {
    font-size: 1.4rem;
  }
  .price .price__container .credit-card .card-type, #price .price__container .credit-card .card-type {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price .price__container .credit-card .card-type .type2, #price .price__container .credit-card .card-type .type2 {
    margin: 0 10px;
  }
  .about, #about {
    padding: 110px 0 120px;
  }
  .about .about-intro, #about .about-intro {
    width: 100%;
    margin: 80px auto 0;
  }
  .about .civil-codes, #about .civil-codes {
    width: 100%;
  }
  .about .civil-codes .civil-code .civi-code__content, #about .civil-codes .civil-code .civi-code__content {
    padding: 30px 35px;
  }
  .about .conditions, #about .conditions {
    width: 100%;
  }
  .about .conditions p, #about .conditions p {
    width: 100%;
    padding: 30px 30px;
  }
  .about .under-condition, #about .under-condition {
    width: 100%;
  }
  .method, #method {
    padding: 80px 0;
  }
  .method .method-inner, #method .method-inner {
    margin-top: 130px;
  }
  .method .method-inner .method-first, #method .method-inner .method-first {
    width: 100%;
    padding: 80px 20px 40px;
  }
  .method .method-inner .method-first .method-top, #method .method-inner .method-first .method-top {
    left: calc(50% - 47px);
  }
  .method .method-inner .method-first .method-title, #method .method-inner .method-first .method-title {
    font-size: 2.6rem;
    margin-bottom: 35px;
    line-height: 1.2;
  }
  .contact, #contact {
    padding: 80px 0;
  }
  .contact .contact-top, #contact .contact-top {
    padding: 110px 0 32px;
    font-size: 1.5rem;
  }
  .contact .contact-caution, #contact .contact-caution {
    width: 100%;
    padding: 30px;
  }
  .contact .contact-caution .caution-text, #contact .contact-caution .caution-text {
    padding: 25px 0 30px;
  }
  .contact .contact-caution .caution-item, #contact .contact-caution .caution-item {
    width: auto;
  }
  .contact .contact-form, #contact .contact-form {
    width: 100%;
  }
  .contact .contact-form .form-item input[type="text"], .contact .contact-form .form-item input[type="email"], #contact .contact-form .form-item input[type="text"], #contact .contact-form .form-item input[type="email"] {
    height: 50px;
    border: none;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
  }
  .contact .contact-form .form-item input[type="text"]:last-child, .contact .contact-form .form-item input[type="email"]:last-child, #contact .contact-form .form-item input[type="text"]:last-child, #contact .contact-form .form-item input[type="email"]:last-child {
    margin-bottom: 53px;
  }
  .contact .contact-form .form-item .radio-items .radio-item, #contact .contact-form .form-item .radio-items .radio-item {
    line-height: 1.2;
  }
  .contact .contact-form .form-item .radio-items .radio-item:nth-child(2), #contact .contact-form .form-item .radio-items .radio-item:nth-child(2) {
    padding: 50px 0 53px;
  }
  .contact .contact-form .form-item .checkbox-items .checkbox-item:nth-child(n+2), #contact .contact-form .form-item .checkbox-items .checkbox-item:nth-child(n+2) {
    padding-top: 50px;
  }
  .contact .contact-form .form-item input[type="textarea"], #contact .contact-form .form-item input[type="textarea"] {
    height: 200px;
  }
  .contact .contact-form .name input[type="text"], #contact .contact-form .name input[type="text"] {
    width: 100%;
  }
  .contact .contact-form .address .smaller, #contact .contact-form .address .smaller {
    padding: 18px 0 30px;
  }
  .contact .contact-form .address .short, #contact .contact-form .address .short {
    width: 200px;
  }
  .contact .contact-form .address .long, #contact .contact-form .address .long {
    width: 100%;
  }
  footer .l-footer {
    min-width: 0px;
  }
  footer .l-footer .footer-upper {
    padding: 30px 5px 20px;
    vertical-align: bottom;
  }
  footer .l-footer .footer-upper .footer-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .l-footer .footer-upper .footer-menu ul li {
    width: 170px;
    margin-right: 80px;
  }
  footer .l-footer .footer-upper .footer-menu ul li:nth-child(2) {
    margin-top: 20px;
  }
  footer .l-footer .footer-upper .footer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .l-footer .footer-upper .footer-contact p {
    margin-right: 0px;
    margin-left: -23px;
  }
  footer .l-footer .footer-upper .footer-contact ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.1rem;
  }
  footer .l-footer .footer-upper .footer-contact ul .footer-mail {
    margin-right: 0px;
    margin-top: 10px;
  }
  footer .l-footer .footer-upper .footer-contact ul .footer-tel {
    margin-top: 10px;
  }
  footer .l-footer .copyright {
    text-align: center;
    padding-bottom: 28px;
  }
}
/*# sourceMappingURL=style.css.map */